
<div class="row">
  <div class="col-md-12">
    <card [title]="'About Us'">
      <p>Este es un proyecto para administrar un sistema de envios como lo hace DHL o FedEx, sin la ventaja
        de rastrear el producto, se realizo para la materia de Bases de Datos impartida por el profesor
        Vicente Cubells.</p>
    </card>
  </div>
</div>

<div class="text-center">
  <h4>Meet the Team</h4>
  <div class="clearfix"></div>
</div>

<div class="row">
  <div class="col-md-6">
    <card [align]="'center'" class="mb-xl-0">
      <img src="assets/content/Cesar.jpg" width="150" height="150" alt="">
      <h5>César Valladares</h5>
      <p>Actualmente cursando la carrera de Ingenieria en Tecnologias Computacionales en el Tecnológico
        de Monterrey.</p>
    </card>
  </div>
  <div class="col-md-6">
    <card [align]="'center'" class="mb-xl-0">
      <img src="assets/content/Eugenio.jpg" width="150" height="150" alt="">
      <h5>Eugenio Leal</h5>
      <p>Actualmente cursando la carrera de Ingenieria en Tecnologias Computacionales en el Tecnológico
          de Monterrey.</p>
    </card>
  </div>
</div>
