<script type="text/javascript">
function callme(){
  var table = tableToJson($('#Envios-Tabla').get(0));
  var doc = new jsPDF('1','pt', 'letter', true);

  console.log(Envios-Tabla);
  doc.cellInitialize();
  $.each(table,function(i,row){
    $.each(row,function(j, cell){
      if(j == "Sucursal Inicial"){
        doc.cell(1,10,190,20,cell,i);
      }
      else{
        doc.cell(1,10,90,20,cell,i);
      }
    });
  });

  doc.save('test2.pdf');
}

function tableToJson(table){
  //first we need to be headers
  var headers = [];
  for( var i = 0; i <table.rows[0].cells.lenght;i++){
    headers[i] = table.rows[0].cells[i].innerHTML.toLowerCase().replace(/ /gi,'');
  }
  data.push(headers);
  for(var i = 1; i < table.rows.lenght; i++){
    var tableRow = table.rows[i];
    var rowData = {};

    for (var j = 0 ; j<tableRow.cells.lenght; j++){
      rowData[ headers[j] ] = tableRow.cells[j].innerHTML;
    }
    data.push(rowData);
  }
  return data;
}
</script>

<card title="Envios">
  <div class="table-responsive">
    <table class="table" id = "Envios-Tabla">
      <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Sucursal Inicial</th>
        <th>Sucursal Final</th>
        <th>Paquete</th>
        <th>Usuario</th>
        <th>Empleado</th>
        <th>Factura</th>
        <th>Conductor</th>
        <th>Transporte</th>
        <th>Fecha</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let envio of envios">
          <th scope="row">{{envio._id}}</th>
          <td>{{envio.sucursal_ini}}</td>
          <td>{{envio.sucursal_fin}}</td>
          <td>{{envio.paquete}}</td>
          <td>{{envio.usuario}}</td>
          <td>{{envio.empleado}}</td>
          <td>{{envio.factura}}</td>
          <td>{{envio.conductor}}</td>
          <td>{{envio.transporte}}</td>
          <td>{{envio.fecha}}</td>
          <input type="button" (click)="deletEnvio(envio._id)" value="Delete" class = "btn btn-danger">
        </tr>
      </tbody>
    </table>
  </div>
</card>

<div class="container">
  <h3 class = "page-header">Nuevo Envio</h3>
  <form (submit) = "addEnvio()">
    <div class = "form-group">
      <label>Sucursal de envio</label>
      <input type="text"[(ngModel)] = "sucursal_ini" name = "sucursal_ini" class = "form-control">
    </div>
    <div class = "form-group">
      <label>Sucursal destino</label>
      <input type="text"[(ngModel)] = "sucursal_fin" name = "sucursal_fin" class = "form-control">
    </div>
    <div class = "form-group">
      <label>Paquete</label>
      <input type="text"[(ngModel)] = "paquete" name = "paquete" class = "form-control">
    </div>
    <div class = "form-group">
      <label>Usuario</label>
      <input type="text"[(ngModel)] = "usuario" name = "usuario" class = "form-control">
    </div>
    <div class = "form-group">
      <label>Empleado</label>
      <input type="text"[(ngModel)] = "empleado" name = "empleado" class = "form-control">
    </div>
    <div class = "form-group">
      <label>Factura</label>
      <input type="text"[(ngModel)] = "factura" name = "factura" class = "form-control">
    </div>
    <div class = "form-group">
      <label>Conductor</label>
      <input type="text"[(ngModel)] = "conductor" name = "conductor" class = "form-control">
    </div>
    <div class = "form-group">
      <label>Transporte</label>
      <input type="text"[(ngModel)] = "transporte" name = "transporte" class = "form-control">
    </div>
    <div class = "form-group">
      <label>Fecha</label>
      <input type="date"[(ngModel)] = "fecha" name = "fecha" class = "form-control">
    </div>
    <input type="submit" class="btn btn btn-success" value = "Add">
  </form>
</div>
<hr>

<script type="text/javascript" src="js/jquery-2.1.3.js"></script>
<script type="text/javascript" src="js/jspdf.js"></script>